# LaTeX
".text.tex.latex":
  "jpn doc w/ uplatex":
    "prefix": "jsarticle"
    "body": """
      \\\\documentclass[dvipdfmx,uplatex]{jsarticle}
      \\\\title{${1:タイトル}}
      \\\\author{中田雄大}
      \\\\date{\\\\today}
      %
      \\\\begin{document}
      $2
      \\\\end{document}
    """
  "eng doc w/ pdflatex":
    "prefix": "article"
    "body": """
      \\\\documentclass[a4paper]{article}
      \\\\title{${1:title}}
      \\\\author{Yudai NAKATA}
      \\\\date{\\\\today}
      %
      \\\\begin{document}
      $2
      \\\\end{document}
    """
  "jpn doc w/ lualatex":
    "prefix": "ltjsarticle"
    "body": """
      \\\\documentclass{ltjsarticle}
      \\\\usepackage{luatexja}
      \\\\usepackage[pass={no-math}]{luatexja-fontspec}
      \\\\setmainfont{Times}
      \\\\setsansfont{Helvetica Neue}
      \\\\setmainjfont{Hiragino Mincho ProN}
      \\\\setsansjfont{Hiragino Kaku Gothic ProN}
      \\\\title{${1:タイトル}}
      \\\\author{中田雄大}
      \\\\date{\\\\today}
      %
      \\\\begin{document}
      $2
      \\\\end{document}
    """
#
# LaTeX Beamer
".text.tex.latex.beamer":
  "frame":
    "prefix": "frame"
    "body": """
      \\\\begin{frame}{${1:frame title}}
          $2
      \\\\end{frame}
    """
  "multi-columns":
    "prefix": "columns"
    "body": """
    	\\\\begin{columns}[t,onlytextwidth]
          \\\\begin{column}{${1:column width}\\\\textwidth}
              $2
          \\\\end{column}
          \\\\begin{column}{${3:column width}\\\\textwidth}
              $4
          \\\\end{column}
    	\\\\end{columns}
    """
# BibTeX
".text.bibtex":
  "article":
    "prefix": "article"
    "body": """
      @article{
          ${1:citation label},
          author = "$2",
          title = "$3",
          journal = "$4",
          year = $5
      }
    """
  "book":
    "prefix": "book"
    "body": """
      @book{
          ${1:citation label},
          author = "$2",
          title = "$3",
          publisher = "$4",
          year = $5
      }
    """

# GitHub Markdown
".source.gfm":
  "centering":
    "prefix": "center"
    "body": "<p class=\"center\">\n    $1\n</p>"
  "flush right":
    "prefix": "right"
    "body": "<p class=\"right\">\n    $1\n</p>"
  "display code":
    "prefix": "code"
    "body": "```$2\n$1\n```"
