name: CLI installation with aqua
on:
  push:
    paths:
      - '**/aqua.yaml'
defaults:
  run:
    shell: bash
jobs:
  cli-installation-with-aqua:
    runs-on: macos-latest
    env:
      AQUA_GLOBAL_CONFIG: .config/aquaproj-aqua/aqua.yaml
      AQUA_LOG_COLOR: always
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.5
          aqua_opts: --all
      - name: Confirm if the installed commands run as expected
        # Confirming each and every feature of all the commands is nearly
        # impossible, so we just check if the installed commands can be run
        # with --version option at the very least (all the commands installed
        # with aqua have this option at the moment except for lefthook).
        run: for cmd in "$(aqua root-dir)"/bin/*; do $cmd --version 2>/dev/null || $cmd version; done
