name: Static check
on: push
defaults:
  run:
    shell: bash
env:
  AQUA_LOG_COLOR: always
jobs:
  check-for-update:
    runs-on: ubuntu-latest
    outputs:
      bash: ${{ steps.paths-filter.outputs.bash }}
      lua: ${{ steps.paths-filter.outputs.lua }}
      toml: ${{ steps.paths-filter.outputs.toml }}
      workflow: ${{ steps.paths-filter.outputs.workflow }}
      yaml: ${{ steps.paths-filter.outputs.yaml }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: paths-filter
        with:
          filters: |
            bash:
              - '**.sh'
            lua:
              - '**.lua'
            toml:
              - '**.toml'
            workflow:
              - '.github/workflows/*.yaml'
            yaml:
              - '**.yaml'
  bash:
    runs-on: ubuntu-latest
    needs: [check-for-update]
    if: ${{ needs.check-for-update.outputs.bash == 'true' }}
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.2
      - name: Format Bash files
        run: cmdx fmt bash
      - name: Lint Bash files
        run: cmdx lint bash
  lua:
    runs-on: ubuntu-latest
    needs: [check-for-update]
    if: ${{ needs.check-for-update.outputs.lua == 'true' }}
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.2
      - name: Format Lua files
        run: cmdx fmt lua
      - name: Lint Lua files
        run: cmdx lint lua
  toml:
    runs-on: ubuntu-latest
    needs: [check-for-update]
    if: ${{ needs.check-for-update.outputs.toml == 'true' }}
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.2
      - name: Format TOML files
        run: cmdx fmt toml
  yaml:
    runs-on: ubuntu-latest
    needs: [check-for-update]
    if: ${{ needs.check-for-update.outputs.yaml == 'true' }}
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.2
      - name: Format YAML files
        run: cmdx fmt yaml
      - name: Lint GitHub Actions workflow files
        if: ${{ needs.check-for-update.outputs.workflow == 'true' }}
        # It looks like lazy install doesn't work with shellcheck
        # integration in actionlint. Running shellcheck beforehand
        # should work around the problem.
        # cf. https://github.com/yudai-nkt/dotfiles/actions/runs/12610684489/job/35145529593
        run: |
          shellcheck --version > /dev/null
          cmdx lint workflow
